*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  font: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

section img {
  max-width: 100%;
}

label, input {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  width: min(80rem, 95%);
  margin: 0 auto;
  padding-inline: 1rem;
}

.heading {
  color: var(--dark-blue);
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 900px) {
  .heading {
    font-size: 2.75rem;
    min-width: 16ch;
  }
}

.discription {
  color: var(--grayish-blue);
  font-weight: lighter;
  line-height: 1.7;
  margin-bottom: 2rem;
}
@media (min-width: 650px) {
  .discription {
    max-width: 50ch;
    margin: 2rem auto;
  }
}

.btn {
  display: inline-block;
  background-color: var(--blue);
  color: white;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
  transition: all 200ms ease-in-out;
  font-weight: lighter;
  font-size: 0.8rem;
}
.btn:hover {
  background-color: white;
  color: var(--blue);
  border-color: var(--blue);
}
.btn:focus {
  background-color: white;
  color: var(--blue);
  border-color: var(--blue);
  outline: 3px solid var(--red);
  outline-offset: var(--outline-offset);
}
.btn--red {
  background-color: var(--red);
}
.btn--red:hover {
  color: var(--red);
  border-color: var(--red);
}
.btn--red:focus {
  color: var(--red);
  border-color: var(--red);
  outline: var(--outline);
}
.btn--gray {
  color: var(--dark-blue);
  background-color: var(--light-grayish-blue);
}
.btn--gray:hover {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}
.btn--gray:focus {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  outline: var(--outline);
  outline-color: var(--dark-blue);
}

.main__header__nav__list__item a {
  text-transform: uppercase;
  transition: ease-in-out 200ms all;
}
.main__header__nav__list__item a:hover {
  color: var(--red);
}

.image {
  position: relative;
  margin-bottom: 3rem;
}
.image::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 120%;
  height: 90%;
  background-color: var(--blue);
  border-radius: 100vw 0 0 100vw;
  transform: translate(15%, 15%);
  z-index: -1;
}
.image--tabpanel {
  margin-bottom: 4rem;
}
.image--tabpanel::after {
  width: 150%;
  border-radius: 0 100vw 100vw 0;
  transform: translate(-43%, 26%);
}

:root {
  --blue: hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 45%);
  --grayish-blue: hsl(229, 8%, 40%);
  --light-grayish-blue:hsl(229, 8%, 80%);
  --dark-blue: hsl(229, 31%, 18%);
  --radius:6px;
  --outline-color: var(--red);
  --outline: 3px solid var(--outline-color);
  --outline-offset:6px;
}

.main__header__logo:focus,
.logo:focus,
.menu:focus,
.main__header__nav__list__item a:focus,
.social__links a:focus {
  outline: var(--outline);
  outline-offset: 3px;
}

[role=presentation] [role=tab]:focus {
  outline: var(--outline);
  --outline-offset:13.5px;
  outline-offset: var(--outline-offset);
}

[role=tablist] li {
  border-top: 1px solid var(--light-grayish-blue);
  padding: 1rem;
}
[role=tablist] li:last-child {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.tabs [role=tab] {
  color: var(--grayish-blue);
  transition: 200ms all ease-in-out;
  position: relative;
}
.tabs [role=tab]:hover {
  color: var(--dark-blue);
}
.tabs [role=tab][aria-selected]::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
}

.tabpanel {
  margin-block: 3rem;
}
.tabpanel__image {
  margin-bottom: 1.5rem;
}

@media (min-width: 800px) {
  [role=tablist] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: row;
    position: relative;
  }
  [role=tablist]::after {
    content: "";
    position: absolute;
    left: 0%;
    z-index: -1;
    bottom: 0;
    transform: translateX(50%);
    height: 1px;
    width: 50%;
    background-color: var(--light-grayish-blue);
  }
  [role=tablist] li {
    border: none;
  }
  [role=tablist] li:last-child {
    border-bottom: none;
  }

  .tabpanel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-direction: row;
  }
  .tabpanel-container .text-center {
    text-align: left;
  }
}
.cards {
  margin-block: 4rem;
  display: flex;
  justify-content: initial;
  align-items: initial;
  gap: 4rem;
  flex-direction: column;
}

.card {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  --radius:12px;
  border-radius: var(--radius);
}
.card__image {
  margin-block: 2rem;
}
.card .heading {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
}
.card [aria-hidden=true] {
  width: 100%;
}
.card .btn {
  margin: 2rem auto;
  width: 80%;
}

@media (min-width: 550px) {
  .cards {
    display: grid;
    gap: 0;
    grid-gap: 2rem;
    grid-template-columns: repeat(8, 1fr);
  }
  .cards .card:first-child {
    grid-column: 1/5;
  }
  .cards .card:nth-child(2) {
    grid-column: 5/9;
  }
  .cards .card:nth-child(3) {
    grid-column: 3/7;
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards .card:first-child, .cards .card:nth-child(2), .cards .card:nth-child(3) {
    grid-column: initial;
  }
  .cards .card:nth-child(2) {
    transform: translateY(10%);
  }
  .cards .card:nth-child(3) {
    transform: translateY(20%);
  }
}
.faqs {
  margin-top: 8rem;
}
@media (min-width: 1200px) {
  .faqs {
    margin-top: 13rem;
  }
}
.faqs .btn {
  margin-top: 2rem;
}
.faqs .questions {
  margin-top: 4rem;
}
@media (min-width: 800px) {
  .faqs .questions {
    max-width: 60%;
    margin: 4rem auto;
  }
}

.faq {
  padding-block: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--light-grayish-blue);
}
.faq:first-child {
  border-top: 1px solid var(--light-grayish-blue);
}
.faq h2 {
  font-weight: lighter;
  font-size: 0.9rem;
}
@media (max-width: 350px) {
  .faq h2 {
    text-align: left;
    font-size: 0.75rem;
  }
}
.faq h2 button {
  color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.faq h2 button:hover {
  color: var(--red);
}
.faq h2 button:focus {
  outline: none;
}
.faq h2 button:focus svg {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}
.faq h2 button[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.faq h2 button[aria-expanded=true] svg path {
  stroke: var(--red);
}
.faq div p {
  text-align: left;
  margin: 2rem 0;
  line-height: 1.7;
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

.main__header.menu-opened {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: #252b46e6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.main__header.menu-opened .menu path {
  fill: white;
}
.main__header.menu-opened .main__header__logo .icon .txt {
  fill: white;
}
.main__header.menu-opened .main__header__logo .icon circle {
  fill: white;
}
.main__header.menu-opened .main__header__logo .icon circle + path {
  fill: #252b46;
}
.main__header.menu-opened .main__header__nav {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: row;
  margin-top: 2rem;
}
.main__header.menu-opened .main__header__nav__list {
  width: 100%;
  display: flex;
  justify-content: initial;
  align-items: initial;
  gap: 0;
  flex-direction: column;
  text-align: center;
}
.main__header.menu-opened .main__header__nav__list__item {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.main__header.menu-opened .main__header__nav__list__item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.main__header.menu-opened .main__header__nav__list__item a {
  width: 100%;
}
.main__header.menu-opened .main__header__nav__list__item a.btn.btn--red {
  background-color: transparent;
  border: 2px solid white;
}
.main__header.menu-opened .main__header__nav__list__item a.btn.btn--red:hover {
  background-color: white;
  color: var(--dark-blue);
}
.main__header.menu-opened .main__header__nav__list__item a.btn.btn--red:focus {
  background-color: white;
  color: var(--dark-blue);
}

@media (min-width: 800px) {
  .main__header .container {
    display: flex;
  }

  .main__header__nav {
    display: flex;
  }
  .main__header__nav__list {
    color: var(--dark-blue);
    display: flex;
    justify-content: initial;
    align-items: center;
    gap: 1.2rem;
    flex-direction: row;
  }
  .main__header__nav__list .btn {
    padding: 0.65rem 2.2rem;
  }

  .menu {
    display: none;
  }
}
header {
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
header .main__header__logo, header .menu {
  position: relative;
  z-index: 999;
}
header div:not(.container) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}

main {
  margin-block-start: 3rem;
}

.hero {
  margin-block-end: 8rem;
}
.hero__content__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    margin-top: 8rem;
  }
  .hero .container .hero__content {
    text-align: left;
    order: -1;
  }
  .hero .container .image--hero img {
    width: 50rem;
  }
  .hero .container .hero__content__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
}

.features {
  margin-block-end: 8rem;
}

.stay-updated {
  padding: 5rem 2rem;
  margin-block-start: 6rem;
  background-color: var(--blue);
  color: white;
}
@media (min-width: 800px) {
  .stay-updated {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
  }
}
.stay-updated p {
  letter-spacing: 4px;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.stay-updated h2 {
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;
}
@media (min-width: 800px) {
  .stay-updated h2 {
    font-size: 2.5rem;
    max-width: 20ch;
    margin-bottom: 1rem;
  }
}
.stay-updated form {
  margin-top: 2rem;
  display: flex;
  justify-content: initial;
  align-items: initial;
  gap: 1rem;
  flex-direction: column;
}
.stay-updated form label {
  text-align: left;
}
.stay-updated form input {
  border: none;
  font-family: inherit;
  margin-top: 0.6em;
  padding: 1rem;
  border-radius: var(--radius);
  font-size: 1rem;
}
.stay-updated form input:focus {
  outline: var(--outline);
  outline-color: white;
  outline-offset: 5px;
}
@media (min-width: 800px) {
  .stay-updated form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    flex-direction: row;
    width: 40%;
  }
  .stay-updated form label {
    flex: 2;
  }
}

footer {
  background-color: var(--dark-blue);
  color: white;
  padding: 3rem 0;
}
footer .logo {
  display: inline-block;
  margin-bottom: 2rem;
}
footer ul li a {
  display: inline-block;
  font-weight: lighter;
  color: var(--light-grayish-blue);
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
footer .logo svg g path {
  fill: white;
}
footer #footer-nav {
  margin-bottom: 1.5rem;
}
footer .social__links a {
  margin-inline: 1rem;
}
footer .social__links a:hover path {
  fill: var(--red);
}
@media (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: row;
    padding-inline: 6rem;
  }
  footer .logo, footer #footer-nav, footer ul li a {
    margin: 0;
  }
  footer #footer-nav {
    display: flex;
    justify-content: initial;
    align-items: center;
    gap: 0;
    flex-direction: row;
    gap: 1rem;
  }
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */