.main__header__logo:focus, 
.logo:focus ,
.menu:focus ,
.main__header__nav__list__item a:focus,
.social__links a:focus{ 
    outline: var(--outline);
    outline-offset: 3px;
}

[role = "presentation"] [role = "tab"]:focus{ 
    outline: var(--outline);
    --outline-offset:13.5px;
    outline-offset: var(--outline-offset);
}

