.text-center{ 
    text-align: center;
}

.container{ 
    width: min(80rem , 95%);
    margin: 0 auto;
    padding-inline: 1rem;
}

.heading{ 
    color: var(--dark-blue);
    font-size: 2rem;
    margin-bottom: 1rem;

    @media(min-width:900px) {
        font-size: 2.75rem;
        min-width: 16ch;
    }
}

.discription{ 
    color: var(--grayish-blue);
    font-weight: lighter;
    line-height: 1.7;
    margin-bottom: 2rem;

    @media(min-width:650px) {
        max-width: 50ch;
        margin: 2rem auto;
    }
}

.btn{ 
    display: inline-block;
    background-color: var(--blue);
    color: white;
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0 0 0 / 0.3);
    border: 2px solid transparent;
    transition: all 200ms ease-in-out;
    font-weight: lighter;
    font-size: 0.8rem;
    
    &:hover{ 
        background-color: white;
        color: var(--blue);
        border-color:var(--blue);
    }

    &:focus{ 
        background-color: white;
        color: var(--blue);
        border-color:var(--blue);
        outline: 3px solid var(--red);
        outline-offset: var(--outline-offset);
    }

    &--red{ 
        background-color: var(--red);

        &:hover{ 
            color: var(--red);
            border-color: var(--red);
        }

        &:focus{ 
            color: var(--red);
            border-color: var(--red);
            outline: var(--outline);    
        }
    }

    &--gray{ 
        color: var(--dark-blue);
        background-color: var(--light-grayish-blue);

        &:hover{ 
            color: var(--dark-blue);
            border-color: var(--dark-blue);
        }

        &:focus{ 
            color: var(--dark-blue);
            border-color: var(--dark-blue);
            outline: var(--outline); 
            outline-color: var(--dark-blue); 
        }
    }
}

.main__header__nav__list__item a { 
    text-transform: uppercase;
    transition: ease-in-out 200ms all;

    &:hover{ 
        color: var(--red);
    }
}

.image{ 
    position: relative;
    margin-bottom: 3rem;

    &::after{ 
        content: '';
        position: absolute;
        inset: 0;
        width: 120%;
        height: 90%;
        background-color: var(--blue);
        border-radius: 100vw 0 0 100vw;
        transform: translate(15% , 15%);
        z-index: -1;
    }

    &--tabpanel{ 
        margin-bottom: 4rem;
        &::after{ 
            width: 150%;
            border-radius: 0 100vw  100vw 0;
            transform: translate(-43% , 26%);
        }
    }
}